@font-face { font-family: SuperGroteskReg; src: url(http://re-publica.de/sites/re-publica.de/themes/rp13/css/fonts/SuperGroteskWeb.eot); }
@font-face { font-family: SuperGroteskReg; src: url(http://re-publica.de/sites/re-publica.de/themes/rp13/css/fonts/SuperGroteskWeb.woff) format("woff"); }
@font-face { font-family: SuperGroteskMed; src: url(http://re-publica.de/sites/re-publica.de/themes/rp13/css/fonts/SuperGroteskWeb-Medium.eot); }
@font-face { font-family: SuperGroteskMed; src: url(http://re-publica.de/sites/re-publica.de/themes/rp13/css/fonts/SuperGroteskWeb-Medium.woff) format("woff"); }

body {
	font-family: SuperGroteskReg, Helvetica, Arial, sans-serif;
	color: rgb(129, 162, 171);
}

a {
	text-decoration: none;
}

#header {
	position: fixed;
	background-color: #fff;
	top: 0px;
	width: 2300px;
	height: 40px;
	z-index: 2000;
}

#header .stage {
	position: absolute;
	top: 0px;
	width: 180px;
	margin-top: 10px;
	text-align: center;
	color: rgb(129, 162, 171);
	font-family: SuperGroteskMed;
	font-size: 14px;
}

#sidebarwrapper {
	position: fixed;
	left: 0px;
	width: 60px;
	height: 0px;
	z-index: 1000;
}

#sidebar {
	position: relative;
	background: #fff;
	height: 6500px;
}

#sidebar .hour {
	position: absolute;
	text-align: right;
	padding: 15px 10px 0 0;
	right: 0px;
	color: rgb(129, 162, 171);
	font-family: SuperGroteskMed;
	font-size: 14px;
}

#content {
	margin: 100px 20px 20px 20px;
	height: 6300px;
	width: 2300px;
	position: relative;
}

#content h2 {
	position: absolute;
	width: 100%;
	text-align: center;
	font-family: SuperGroteskReg;
	font-size: 45px;
}

#content .hour {
	position: absolute;
	width: 100%;
	border-top: 1px solid rgb(129, 162, 171);
}

.session {
	position: absolute;
	width: 160px;
	border-top: 1px solid #fff;
	
	background-size: 105% auto;
	background-repeat:no-repeat;
	background-position:center center;

	overflow: hidden;
}

.session .title {
	font-size: 10px;
	padding: 5px;
	color: #000;
	height: 100%;
	background: rgba(76, 193, 245, 0.9);
	cursor: default;
	transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
	font-family: SuperGroteskReg;
	line-height: 120%;
	font-size: 12px;
	font-weight: 300;
}

.session.video .title {
	cursor: pointer;
}

.session.video.gesperrt .title {
	background: rgba(248, 104, 103, 0.9);
}

.session.video:hover .title {
	opacity: 0;
}


.session.novideo .title {
	background: #f5f5f5;
	color: #aaa;
}

.session .ratingWrapper {
	position: absolute;
	left: 5px;
	right: 5px;
	bottom: 5px;
	height: 5px;
}

.session .rating {
	border: 1px solid #666;
	position: relative;
	height: 3px;
	margin: auto;
	background: #eee;
}

.session .rating .likes, .session .rating .dislikes {
	position: absolute;
	top: 0px;
	height: 100%;
}

.session .rating .likes {
	left: 0px;
	background: #0e0;
}

.session .rating .dislikes {
	right: 0px;
	background: #e00;
}

#footer {
	text-align: center;
}

#footer a {
	text-decoration: underline;
	color: rgb(129, 162, 171);
}



